
src/srcBackAlmoxarifadoASPCore/AlmoxarifadoServices/obj/Debug/net6.0/AlmoxarifadoServices.GeneratedMSBuildEditorConfig.editorconfig
src/srcBackAlmoxarifadoASPCore/AlmoxarifadoServices/obj/Debug/net6.0/AlmoxarifadoServices.csproj.AssemblyReference.cache
src/srcBackAlmoxarifadoASPCore/AlmoxarifadoServices/obj/Debug/net6.0/AlmoxarifadoServices.assets.cache
src/srcBackAlmoxarifadoASPCore/AlmoxarifadoInfrastructure/obj/Debug/net6.0/AlmoxarifadoInfrastructure.GeneratedMSBuildEditorConfig.editorconfig
src/srcBackAlmoxarifadoASPCore/AlmoxarifadoInfrastructure/obj/Debug/net6.0/AlmoxarifadoInfrastructure.csproj.AssemblyReference.cache
src/srcBackAlmoxarifadoASPCore/AlmoxarifadoInfrastructure/obj/Debug/net6.0/AlmoxarifadoInfrastructure.assets.cache
src/srcBackAlmoxarifadoASPCore/AlmoxarifadoDomain/obj/Debug/net6.0/AlmoxarifadoDomain.GeneratedMSBuildEditorConfig.editorconfig
src/srcBackAlmoxarifadoASPCore/AlmoxarifadoDomain/obj/Debug/net6.0/AlmoxarifadoDomain.assets.cache
src/srcBackAlmoxarifadoASPCore/AlmoxarifadoAPI/obj/Debug/net6.0/AlmoxarifadoAPI.GeneratedMSBuildEditorConfig.editorconfig
src/srcBackAlmoxarifadoASPCore/AlmoxarifadoAPI/obj/Debug/net6.0/AlmoxarifadoAPI.csproj.AssemblyReference.cache
src/srcBackAlmoxarifadoASPCore/AlmoxarifadoAPI/obj/Debug/net6.0/AlmoxarifadoAPI.assets.cache
src/srcBackAlmoxarifadoASPCore/.vs/srcBackAlmoxarifadoASPCore/FileContentIndex/fc980201-3717-49c0-9703-1d3d3d2b6328.vsidx
src/srcBackAlmoxarifadoASPCore/.vs/srcBackAlmoxarifadoASPCore/FileContentIndex/d5c8c00f-07d6-4264-a12a-1d30ea8dfa57.vsidx
src/srcBackAlmoxarifadoASPCore/.vs/srcBackAlmoxarifadoASPCore/FileContentIndex/d0ad9663-c80d-403e-899e-ae70ad1199e4.vsidx
src/srcBackAlmoxarifadoASPCore/.vs/srcBackAlmoxarifadoASPCore/FileContentIndex/a2b150d8-2f07-44a7-8254-385a42e6228b.vsidx
src/srcBackAlmoxarifadoASPCore/.vs/srcBackAlmoxarifadoASPCore/FileContentIndex/8f537e12-4a11-4472-ad53-696497068e13.vsidx
src/srcBackAlmoxarifadoASPCore/.vs/srcBackAlmoxarifadoASPCore/DesignTimeBuild/.dtbcache.v2
src/srcBackAlmoxarifadoASPCore/.vs/srcBackAlmoxarifadoASPCore/FileContentIndex/0eb543de-97b6-4d43-8bfe-db9a7f330aaa.vsidx
src/srcBackAlmoxarifadoASPCore/.vs/srcBackAlmoxarifadoASPCore/FileContentIndex/17e37236-5e5b-4da4-8cd3-3a13d98a9a80.vsidx
src/srcBackAlmoxarifadoASPCore/.vs/srcBackAlmoxarifadoASPCore/FileContentIndex/42955517-281e-4808-805f-92eff2d1a087.vsidx
src/srcBackAlmoxarifadoASPCore/.vs/srcBackAlmoxarifadoASPCore/FileContentIndex/834e9b60-8ef6-409c-a3b9-c3826f5fd44b.vsidx
src/srcBackAlmoxarifadoASPCore/.vs/srcBackAlmoxarifadoASPCore/FileContentIndex/cfe7b30a-0137-4447-9ebb-6b2e3a9387eb.vsidx
src/srcBackAlmoxarifadoASPCore/.vs/srcBackAlmoxarifadoASPCore/FileContentIndex/d12d2ad4-9768-4dde-a731-547e1192117e.vsidx
src/srcBackAlmoxarifadoASPCore/.vs/ProjectEvaluation/srcbackalmoxarifadoaspcore.metadata.v7.bin
src/srcBackAlmoxarifadoASPCore/.vs/ProjectEvaluation/srcbackalmoxarifadoaspcore.projects.v7.bin
src/srcBackAlmoxarifadoASPCore/.vs/srcBackAlmoxarifadoASPCore/DesignTimeBuild/.dtbcache.v2
src/srcBackAlmoxarifadoASPCore/.vs/srcBackAlmoxarifadoASPCore/FileContentIndex/8fa32414-1148-4de0-86ca-8d6369fff2cd.vsidx
src/srcBackAlmoxarifadoASPCore/.vs/srcBackAlmoxarifadoASPCore/FileContentIndex/b1ebe20d-9930-4758-8ce5-3dc2d7e92332.vsidx
src/srcBackAlmoxarifadoASPCore/.vs/srcBackAlmoxarifadoASPCore/FileContentIndex/de31bb86-6587-4ceb-9a95-35d72dc9642a.vsidx
src/srcBackAlmoxarifadoASPCore/.vs/srcBackAlmoxarifadoASPCore/v17/.futdcache.v2
src/srcBackAlmoxarifadoASPCore/.vs/srcBackAlmoxarifadoASPCore/v17/.suo
src/srcBackAlmoxarifadoASPCore/.vs/srcBackAlmoxarifadoASPCore/v17/DocumentLayout.json
src/srcBackAlmoxarifadoASPCore/.vs/srcBackAlmoxarifadoASPCore/v17/TestStore/0/000.testlog
src/srcBackAlmoxarifadoASPCore/.vs/srcBackAlmoxarifadoASPCore/v17/TestStore/0/testlog.manifest
src/srcBackAlmoxarifadoASPCore/AlmoxarifadoAPI/obj/AlmoxarifadoAPI.csproj.nuget.dgspec.json
src/srcBackAlmoxarifadoASPCore/AlmoxarifadoAPI/obj/AlmoxarifadoAPI.csproj.nuget.g.props
src/srcBackAlmoxarifadoASPCore/AlmoxarifadoAPI/obj/Debug/net6.0/AlmoxarifadoAPI.AssemblyInfo.cs
src/srcBackAlmoxarifadoASPCore/AlmoxarifadoAPI/obj/Debug/net6.0/AlmoxarifadoAPI.AssemblyInfoInputs.cache
src/srcBackAlmoxarifadoASPCore/AlmoxarifadoAPI/obj/Debug/net6.0/AlmoxarifadoAPI.assets.cache
src/srcBackAlmoxarifadoASPCore/AlmoxarifadoAPI/obj/Debug/net6.0/AlmoxarifadoAPI.csproj.AssemblyReference.cache
src/srcBackAlmoxarifadoASPCore/AlmoxarifadoAPI/obj/Debug/net6.0/AlmoxarifadoAPI.GeneratedMSBuildEditorConfig.editorconfig
src/srcBackAlmoxarifadoASPCore/AlmoxarifadoAPI/obj/Debug/net6.0/apphost.exe
src/srcBackAlmoxarifadoASPCore/AlmoxarifadoAPI/obj/project.assets.json
src/srcBackAlmoxarifadoASPCore/AlmoxarifadoAPI/obj/project.nuget.cache
src/srcBackAlmoxarifadoASPCore/AlmoxarifadoDomain/obj/AlmoxarifadoDomain.csproj.nuget.dgspec.json
src/srcBackAlmoxarifadoASPCore/AlmoxarifadoDomain/obj/AlmoxarifadoDomain.csproj.nuget.g.props
src/srcBackAlmoxarifadoASPCore/AlmoxarifadoDomain/obj/Debug/net6.0/AlmoxarifadoDomain.AssemblyInfo.cs
src/srcBackAlmoxarifadoASPCore/AlmoxarifadoDomain/obj/Debug/net6.0/AlmoxarifadoDomain.AssemblyInfoInputs.cache
src/srcBackAlmoxarifadoASPCore/AlmoxarifadoDomain/obj/Debug/net6.0/AlmoxarifadoDomain.assets.cache
src/srcBackAlmoxarifadoASPCore/AlmoxarifadoDomain/obj/Debug/net6.0/AlmoxarifadoDomain.GeneratedMSBuildEditorConfig.editorconfig
src/srcBackAlmoxarifadoASPCore/AlmoxarifadoDomain/obj/project.assets.json
src/srcBackAlmoxarifadoASPCore/AlmoxarifadoDomain/obj/project.nuget.cache
src/srcBackAlmoxarifadoASPCore/AlmoxarifadoInfrastructure/obj/AlmoxarifadoInfrastructure.csproj.nuget.dgspec.json
src/srcBackAlmoxarifadoASPCore/AlmoxarifadoInfrastructure/obj/AlmoxarifadoInfrastructure.csproj.nuget.g.props
src/srcBackAlmoxarifadoASPCore/AlmoxarifadoInfrastructure/obj/Debug/net6.0/AlmoxarifadoInfrastructure.AssemblyInfo.cs
src/srcBackAlmoxarifadoASPCore/AlmoxarifadoInfrastructure/obj/Debug/net6.0/AlmoxarifadoInfrastructure.AssemblyInfoInputs.cache
src/srcBackAlmoxarifadoASPCore/AlmoxarifadoInfrastructure/obj/Debug/net6.0/AlmoxarifadoInfrastructure.assets.cache
src/srcBackAlmoxarifadoASPCore/AlmoxarifadoInfrastructure/obj/Debug/net6.0/AlmoxarifadoInfrastructure.csproj.AssemblyReference.cache
src/srcBackAlmoxarifadoASPCore/AlmoxarifadoInfrastructure/obj/Debug/net6.0/AlmoxarifadoInfrastructure.GeneratedMSBuildEditorConfig.editorconfig
src/srcBackAlmoxarifadoASPCore/AlmoxarifadoInfrastructure/obj/project.assets.json
src/srcBackAlmoxarifadoASPCore/AlmoxarifadoInfrastructure/obj/project.nuget.cache
src/srcBackAlmoxarifadoASPCore/AlmoxarifadoServices/obj/AlmoxarifadoServices.csproj.nuget.dgspec.json
src/srcBackAlmoxarifadoASPCore/AlmoxarifadoServices/obj/AlmoxarifadoServices.csproj.nuget.g.props
src/srcBackAlmoxarifadoASPCore/AlmoxarifadoServices/obj/Debug/net6.0/AlmoxarifadoServices.AssemblyInfo.cs
src/srcBackAlmoxarifadoASPCore/AlmoxarifadoServices/obj/Debug/net6.0/AlmoxarifadoServices.AssemblyInfoInputs.cache
src/srcBackAlmoxarifadoASPCore/AlmoxarifadoServices/obj/Debug/net6.0/AlmoxarifadoServices.assets.cache
src/srcBackAlmoxarifadoASPCore/AlmoxarifadoServices/obj/Debug/net6.0/AlmoxarifadoServices.csproj.AssemblyReference.cache
src/srcBackAlmoxarifadoASPCore/AlmoxarifadoServices/obj/Debug/net6.0/AlmoxarifadoServices.GeneratedMSBuildEditorConfig.editorconfig
src/srcBackAlmoxarifadoASPCore/AlmoxarifadoServices/obj/project.assets.json
src/srcBackAlmoxarifadoASPCore/AlmoxarifadoServices/obj/project.nuget.cache
src/srcBackAlmoxarifadoASPCore/.vs/srcBackAlmoxarifadoASPCore/FileContentIndex/644996f6-9bba-40bf-93cd-a3776d4f9d2a.vsidx
src/srcBackAlmoxarifadoASPCore/.vs/srcBackAlmoxarifadoASPCore/v17/.suo
src/srcBackAlmoxarifadoASPCore/AlmoxarifadoAPI/obj/Debug/net6.0/AlmoxarifadoAPI.AssemblyInfo.cs
src/srcBackAlmoxarifadoASPCore/AlmoxarifadoAPI/obj/Debug/net6.0/AlmoxarifadoAPI.AssemblyInfoInputs.cache
/src/srcBackAlmoxarifadoASPCore/AlmoxarifadoAPI/obj/Debug
src/srcBackAlmoxarifadoASPCore/.vs/srcBackAlmoxarifadoASPCore/FileContentIndex/ebeeef38-64c7-41b4-b72a-6272489860ee.vsidx
src/srcBackAlmoxarifadoASPCore/.vs/srcBackAlmoxarifadoASPCore/FileContentIndex/1e932ce3-a29c-4a53-9baa-2f233625100c.vsidx
src/srcBackAlmoxarifadoASPCore/AlmoxarifadoDomain/obj/Debug/net6.0/AlmoxarifadoDomain.sourcelink.json
src/srcBackAlmoxarifadoASPCore/AlmoxarifadoInfrastructure/obj/Debug/net6.0/Almoxari.098DBE06.Up2Date
src/srcBackAlmoxarifadoASPCore/AlmoxarifadoInfrastructure/obj/Debug/net6.0/AlmoxarifadoInfrastructure.AssemblyInfo.cs
src/srcBackAlmoxarifadoASPCore/AlmoxarifadoInfrastructure/obj/Debug/net6.0/AlmoxarifadoInfrastructure.AssemblyInfoInputs.cache
src/srcBackAlmoxarifadoASPCore/AlmoxarifadoInfrastructure/obj/Debug/net6.0/AlmoxarifadoInfrastructure.csproj.AssemblyReference.cache
src/srcBackAlmoxarifadoASPCore/AlmoxarifadoInfrastructure/obj/Debug/net6.0/AlmoxarifadoInfrastructure.sourcelink.json
src/srcBackAlmoxarifadoASPCore/AlmoxarifadoServices/obj/Debug/net6.0/Almoxari.8DB1DB87.Up2Date
src/srcBackAlmoxarifadoASPCore/AlmoxarifadoServices/obj/Debug/net6.0/AlmoxarifadoServices.sourcelink.json
src/srcBackAlmoxarifadoASPCore/AlmoxarifadoInfrastructure/obj/Debug/net6.0/AlmoxarifadoInfrastructure.AssemblyInfo.cs
src/srcBackAlmoxarifadoASPCore/AlmoxarifadoInfrastructure/obj/Debug/net6.0/AlmoxarifadoInfrastructure.AssemblyInfoInputs.cache
src/srcBackAlmoxarifadoASPCore/AlmoxarifadoInfrastructure/obj/Debug/net6.0/AlmoxarifadoInfrastructure.csproj.AssemblyReference.cache
